.container{

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.5rem;
    max-width: 800px;
    margin: 2rem auto;



}


@media (max-width: 900px){

    .container{

        grid-template-columns: 1fr;
    }


}


.flag{

    width: 100%;
    height: auto;
    display: block;

    
}

.header{

    text-align: center;
    margin-bottom: 2rem;


}


.name{

    font-family: "Chakra Petch", sans-serif;
    font-size: 2rem;

}

.info{

    display: flex;
    align-items: center;
    border-top: 2px solid var(--color);
    padding: .75rem 0;


}

.info>div:nth-child(1){

    font-family: "Chakra Petch", sans-serif;
    font-size: 1.5rem;
    flex: 0 0 60%;

}

.map{

    display: block;
    border: 2px solid var(--color);
    height: 3.5rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;
    transition: background-color .3s;

}

.map:hover{

    background-color: var(--green);

}

